In [1]:
import pandas

In [2]:
pandas.Series(['a','b','c','d'])

0    a
1    b
2    c
3    d
dtype: object

In [3]:
pandas.Series(['a','b','c','d'], index=['apple','banana','cat','dog'])

apple     a
banana    b
cat       c
dog       d
dtype: object

In [4]:
d={'apple':'a','banana':'b','cat':'c','dog':'d'}
pandas.Series(d.values(), index=d.keys())

dog       d
cat       c
apple     a
banana    b
dtype: object

In [5]:
list_created = pandas.Series(['a','b','c','d'], index=['apple','banana','cat','dog'])

In [6]:
dictionary_created = pandas.Series(d.values(), index=d.keys())

In [7]:
dictionary_created[0] #out: 'd'

'd'

In [8]:
list_created[0] #out:'a'

'a'

In [9]:
d.keys() #out: '['dog','cat','apple','banana']'

['dog', 'cat', 'apple', 'banana']

In [10]:
panadas.Series(range(100)) #produces a series from 0 to 99

NameError: name 'panadas' is not defined

In [11]:
colouring = pandas.Series{
data=['red','yellow','black','blue','purple']
index=['apple','banana','cat','dog','elephant']

}
colouring

SyntaxError: invalid syntax (<ipython-input-11-37417c34a23a>, line 1)

In [12]:
living_things = pandas.DataFrame{
    {
    'colour:':colouring,
    'first_letter:':dictionary_created
    }
}
living_things

SyntaxError: invalid syntax (<ipython-input-12-81b80ee9ea62>, line 1)

Notice that elephants first letter is null

In [ ]:
living_things.first_letter.isnull()

In [ ]:
living_things[living_things.first_letter.isnull()].first_letter

In [ ]:
living_things[living_things.first_letter.isnull()].first_letter[0]

In [ ]:
elephant_first_letter=living_things[living_things.first_letter.isnull()].first_letter[0]

In [ ]:
elephant_first_letter == elephant_first_letter #out:'false'

nan/Nan is not equal to anything even to it self

In [ ]:
import numpy

In [ ]:
numpy.nan

this is how you check for nan

In [ ]:
numpy.isnan(elephant_first_letter) #out:True

In [ ]:
living_things.colour.map(lambda x: x.upper())

In [ ]:
def safe_uppercase(x):
    if type(x) != type(''):
        return x
    return x.upper()
living_things.first_letter.map(safe_uppercase)

In [ ]:
living_things.applymap(safe_uppercase)

#Sydney Trains

In [ ]:
trains = pandas.read_csv('sydtrains.csv', index_col=1, thousands=',')
trains

In [ ]:
trains.columns

In [ ]:
numeric_columns = [x for x in trains.columns if x.startswith('IN') or x.startswith('OUT')]
numeric_columns

In [ ]:
trains[numneric_columns].applymap(lambda x: x/1000.0)

In [ ]:
def threshold_count(xs):
    above_threshold = 0
    for x in xs:
        if x > 100:
            above_threshold += 1
    return above_threshold
    
trains[numberic_columns].apply(threshold_count)

In [ ]:
threshold_count(trains[numeric_columns]) #very inefficient way of counting columns in a list

In [ ]:
threshold_count(trains[numeric_columns].IN-0200_0600]

In [ ]:
trains[numeric_columns].apply(threshold_count, axis=1)

Pivot Tables

In [ ]:
trains[trains.index == "Central"]

In [ ]:
trains.groupby('YEAR').IN-24_HOURS.sum()

In [ ]:
panads.pivot_tables(trains, index='YEAR', values='IN_24_HOURS')

In [ ]:
panads.pivot_tables(trains, index='YEAR', values=numeric_columns)
#avarages data

In [ ]:
panads.pivot_tables(trains, index='YEAR', values=numeric_columns, aggfunc=sum)
#aggfunc gives the sum at the moment

In [ ]:
panads.pivot_tables(trains, index='YEAR', values=numeric_columns, aggfunc=threshold_count)

In [ ]:
panads.pivot_tables(trains, 
        index=['LINE', 'YEAR'], 
        values=numeric_columns, 
        aggfunc=sum)

In [ ]:
panads.pivot_tables(trains, 
        index=['LINE', 'YEAR'], 
        values=['IN_24_HOURS', 'OUT_24_HOURS'], 
        aggfunc=[sum, len, threshold_count()])

In [ ]:
panads.pivot_tables(trains, 
        index=['LINE'], 
        values=['IN_24_HOURS'], 
        columns=['YEAR'],
        aggfunc=sum)

In [ ]:
ugly_df=panads.pivot_tables(trains, 
            index=['LINE', 'YEAR'], 
            values=['IN_24_HOURS', 'OUT_24_HOURS'], 
            aggfunc=[sum, len, threshold_count()])

In [ ]:
ugly_df.columns[]

In [ ]:
ugly_df[('sum', 'IN_24_HOURS')]

In [ ]:
ugly_df.loc[("Bankstown", 2014), ("sum", "IN_24_HOURS")]